<nav class="container-fluid navbar">
  <div class="bottom container">
   <ul class="container d-flex justify-content-between flex-wrap mb-0 pb-0 px-0">
    <li class="genel"><fa-icon [icon]=faHome class="home"> </fa-icon> Genel Bakış
       
    </li>
    <li class="iletiler"><span><fa-icon [icon]=faMessage> </fa-icon> İletiler</span>
        <div class="card rounded-3">
            <ul class="p-2">
                <li class="text-dark">İLETİLER</li>
                <li>
                    <a routerLink="/gelenler">Gelenler</a>
                </li>
                <li>
                    <a routerLink="">Gidenler</a>
                </li>
                <li>
                    <a routerLink="">Şablonlar</a>
                </li>
                <li>
                    <a routerLink="">Çöp Kutusu</a>
                </li>
                <li>
                    <a routerLink="">Sohbet</a>
                </li>
            </ul>
        </div>
    </li>
    <li class="satış"><span><fa-icon [icon]=faShoppingCart> </fa-icon> Satış</span>
        <div class="card rounded-3">
            <ul class="p-2">
                <li class="text-dark">SATIŞ</li>
                <li>
                    <a routerLink="/hizlisiparis">Hızlı sipariş</a>
                </li>
                <li>
                    <a routerLink="">Siparişler</a>
                </li>
                <li>
                    <a routerLink="">Terkrarlayan sipaarişler</a>
                </li>
                <li>
                    <a routerLink="">Teklifler</a>
                </li>
                <li>
                    <a routerLink="">Rezervasyonlu siparişler</a>
                </li>
                <li>
                    <a routerLink="">İade işlemleri</a>
                </li>
                <li>
                    <a routerLink="">İptal işlemleri</a>
                </li>
                <li>
                    <a routerLink="">Hesap işlemleri</a>
                </li>
                <li>
                    <a routerLink="">Satıcı planları</a>
                </li>
                <li>
                    <a routerLink="">Reklam satışı</a>
                </li>
                <li>
                    <a routerLink="">Hediye çekleri</a>
                </li>
            </ul>
        </div>
    </li>
    <li class="users"><span><fa-icon [icon]=faUsers> </fa-icon> Kullanıcılar</span>
        <div class="card rounded-3">
            <ul class="p-2">
                <li class="text-dark">KULLANICILAR</li>
                <li>
                    <a routerLink="/musteriler">Müşteriler</a>
                </li>
                <li>
                    <a routerLink="">Satıcılar</a>
                </li>
                <li>
                    <a routerLink="">Tedarikçiler</a>
                </li>
                <li>
                    <a routerLink="">Bayiler</a>
                </li>
                <li>
                    <a routerLink="">Personeller</a>
                </li>
                <li>
                    <a routerLink="">Kuryeler</a>
                </li>
            </ul>
        </div>
    </li>
    <li class="katalog"><span><fa-icon [icon]=faReceipt> </fa-icon> Katalog</span>
        <div class="card rounded-3">
            <ul class="p-2">
                <li class="text-dark">KATALOG</li>
                <li>
                    <a routerLink="/urunhavuzu">Ürün havuzu</a>
                </li>
                <li>
                    <a routerLink="">Satıcı ürünleri</a>
                </li>
                <li>
                    <a routerLink="">Kombinler</a>
                </li>
                <li>
                    <a routerLink="">Kategoriler</a>
                </li>
                <li>
                    <a routerLink="">Markalar</a>
                </li>
                <li>
                    <a routerLink="">Şablonlar</a>
                </li>
                <li>
                    <a routerLink="">Satıcı talepleri</a>
                </li>
            </ul>
        </div>
    </li>
    <li class="pazarlama"><span><fa-icon [icon]=faChartLine> </fa-icon> Pazarlama</span>
        <div class="card rounded-3">
            <ul class="p-2">
                <li class="text-dark">PAZARLAMA</li>
                <li>
                    <a routerLink="/performans">Performans</a>
                </li>
                <li>
                    <a routerLink="">Değerlendirmeler</a>
                </li>
                <li>
                    <a routerLink="">Sepette unutulanlar</a>
                </li>
                <li>
                    <a routerLink="">Kampanyalar</a>
                </li>
                <li>
                    <a routerLink="">Kuponlar</a>
                </li>
                <li>
                    <a routerLink="">Afişler</a>
                </li>
                <li>
                    <a routerLink="">Bildirim pazarlama</a>
                </li>
                <li>
                    <a routerLink="">e-Posta pazarlama</a>
                </li>
                <li>
                    <a routerLink="">SMS pazarlama</a>
                </li>
                <li>
                    <a routerLink="">İçerik pazarlama</a>
                </li>
                <li>
                    <a routerLink="">SEO optimizasyon</a>
                </li>
                <li>
                    <a routerLink="">Sosyal medya pazarlama</a>
                </li>
                <li>
                    <a routerLink="">Paylaş kazan</a>
                </li>
                <li>
                    <a routerLink="">Otomatik kampanyalar</a>
                </li>
            </ul>
        </div>
    </li>
    <li class="ayarlar"><span><fa-icon [icon]=faWrench> </fa-icon> Ayarlar</span>
        <div class="card rounded-3">
            <ul class="p-2">
                <li class="text-dark">AYARLAR</li>
                <li>
                    <a routerLink="/sistemayarlari">Sistem ayarları</a>
                </li>
                <li>
                    <a routerLink="">Tema ayarları</a>
                </li>
                <li>
                    <a routerLink="">Modül ayarları</a>
                </li>
                <li>
                    <a routerLink="">Bölge ayarları</a>
                </li>
                <li>
                    <a routerLink="">Dil ayarları</a>
                </li>
                <li>
                    <a routerLink="">Global satış ayarları</a>
                </li>
                <li>
                    <a routerLink="">Ödeme ayarları</a>
                </li>
                <li>
                    <a routerLink="">e-Kargo ayarları</a>
                </li>
                <li>
                    <a routerLink="">Entegrasyonlar</a>
                </li>
                <li>
                    <a routerLink="">Eklentiler</a>
                </li>
                <li>
                    <a routerLink="">Medya yönetimi</a>
                </li>
                <li>
                    <a routerLink="">İçerik yönetimi</a>
                </li>
                <li>
                    <a routerLink="">Sunucu ayarları</a>
                </li>
                <li>
                    <a routerLink="">Güvenlik ayarları</a>
                </li>
                <li>
                    <a routerLink="">Yedekleme</a>
                </li>
                <li>
                    <a routerLink="">Loglar</a>
                </li>
            </ul>
        </div>
    </li>
    <li>
        <a routerLink="/satici" class="hızlıMenu"><fa-icon [icon]=faPlus> </fa-icon> Hızlı Menü</a>
    </li>
   </ul>
  </div>
</nav>
