<app-header></app-header>
<div class="container alici">
  <div class="row">
    <div class="sidebar container col-7 col-md-4 col-lg-2">
      <p class="fw-bold h6">PAYLAŞ KAZAN</p>
      <ul
        class="container d-flex flex-column justify-content-between px-0 gap-3"
      >
        <li class="genel" (click)="opengenel()">
          <fa-icon [icon]="faHome" class="home"> </fa-icon> Genel Bakış
        </li>
        <li class="iletiler" (click)="openIletiler()">
          <span><fa-icon [icon]="faMessage"> </fa-icon> Kartlar</span>
        </li>
        <li class="satış test1" (click)="opensiparis()">
          <span><fa-icon [icon]="faShoppingCart"> </fa-icon> Paylaşımlar</span>
        </li>
        <li class="katalog test1" (click)="openkatalog()">
          <span><fa-icon [icon]="faReceipt"> </fa-icon> Muhasebe</span>
        </li>
        <li class="kullanıcılar" (click)="openlistem()">
          <span><fa-icon [icon]="faUsers"> </fa-icon> Listem</span>
        </li>
        <li class="ayarlar" (click)="openhesap()">
          <span><fa-icon [icon]="faWrench"> </fa-icon> Hesap</span>
        </li>

        <a routerLink="/satici" class="bottomBtn"
          ><button class="btn btn-outline-info rounded-5 mb-1">
            Satıcı olmak ister misin?
          </button></a
        >

        <a routerLink="/alici" class="bottomBtn"
          ><button class="btn btn-outline-info rounded-5">
            Alıcı Paneline Geç
          </button></a
        >
      </ul>
    </div>
<div class="d-none d-lg-block col-lg-1"></div>
    <div class="col-5 col-md-8 col-lg-9">
      <div class="d-flex gap-3 gap-xlg-5 justify-content-between flex-wrap">
        <div
          [ngStyle]="{ display: s1 == false ? 'none' : 'block' }"
          class="me-4"
        >
          <li class="title">KARTLAR</li>
          <ul *ngFor="let item of total[0].kartlar" class="px-0 mt-3">
            <li>
              <a routerLink="#">{{ item }}</a>
            </li>
          </ul>
        </div>

        <div
          [ngStyle]="{ display: s2 == false ? 'none' : 'block' }"
          class="me-4"
        >
          <li class="title">PAYLAŞIMLAR</li>
          <ul *ngFor="let item of total[1].paylasimlar" class="px-0 mt-3">
            <li>
              <a routerLink="#">{{ item }}</a>
            </li>
          </ul>
        </div>
        <div
          [ngStyle]="{ display: s3 == false ? 'none' : 'block' }"
          class="me-4"
        >
          <li class="title">MUHASEBE</li>
          <ul *ngFor="let item of total[2].muhasebe" class="px-0 mt-3">
            <li>
              <a routerLink="#">{{ item }}</a>
            </li>
          </ul>
        </div>
        <div
          [ngStyle]="{ display: s4 == false ? 'none' : 'block' }"
          class="me-4"
        >
          <li class="title">LİSTEM</li>
          <ul *ngFor="let item of total[3].listem" class="px-0 mt-3">
            <li>
              <a routerLink="#">{{ item }}</a>
            </li>
          </ul>
        </div>
        <div
          [ngStyle]="{ display: s5 == false ? 'none' : 'block' }"
          class="me-4"
        >
          <li class="title">HESAP AYARLARI</li>
          <ul *ngFor="let item of total[4].hesap" class="px-0 mt-3">
            <li>
              <a routerLink="#">{{ item }}</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- <iletiler [ngStyle]="{'display': s1==true ? 'none' :'block' }"></iletiler> -->
