<div class="container satici">
    <div class="row">
      <div class="sidebar container col-2">
        <p class="fw-bold h6">SATICI PANELİ</p>
        <ul class="container d-flex flex-column justify-content-between px-0">
          <li class="genel">
            <fa-icon [icon]="faHome" class="home"> </fa-icon> Genel Bakış
          </li>
          <li class="iletiler" (click)="test('iletiler')">
            <span><fa-icon [icon]="faMessage"> </fa-icon> İletiler</span>
          </li>
          <li class="satış" (click)="test('satış')">
            <span><fa-icon [icon]="faShoppingCart"> </fa-icon> Siparişler</span>
          </li>
          <li
            class="katalog"
            (click)="test('katalog')"
          >
            <span><fa-icon [icon]="faReceipt"> </fa-icon> Katalog</span>
          </li>
          <li class="kullanıcılar">
            <span><fa-icon [icon]="faUsers"> </fa-icon> Müşteriler</span>
          </li>
          <li class="pazarlama">
            <span><fa-icon [icon]="faChartLine"> </fa-icon> Pazarlama</span>
          </li>
          <li class="ayarlar">
            <span><fa-icon [icon]="faWrench"> </fa-icon> Ayarlar</span>
          </li>
          <li>
            <a routerLink="" class="hızlıMenu"
              ><fa-icon [icon]="faPlus"> </fa-icon> Hızlı Menü</a
            >
          </li>
          <button class="btn btn-outline-info rounded-5">
            <a routerLink="">Alıcı Paneline Geç</a>
          </button>
        </ul>
      </div>
  
      <div class="col-10">
        <div class="d-flex liste">
          <div class="iletiler1">
            <ul
              *ngFor="let item of total[0].iletiler">
              <li>{{ item }}</li>
            </ul>
          </div>
  
          <div>
            <ul *ngFor="let item of total[1].siparisler">
              <li>{{ item }}</li>
            </ul>
          </div>
          <div>
            <ul *ngFor="let item of total[2].katalog">
              <li>{{ item }}</li>
            </ul>
          </div>
          <div>
            <ul *ngFor="let item of total[3].musteriler">
              <li>{{ item }}</li>
            </ul>
          </div>
          <div>
            <ul *ngFor="let item of total[4].pazarlama">
              <li>{{ item }}</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  