form{
    h1{
        color: blueviolet;
        font-weight: 700;
        span{
            color: aqua;
            font-weight: 400;
        }
    }
    
}
.false{
    border: 1px solid red;
}
.true{
    border: 1px solid blue;
}

// .input{
//     width: 400px;
//     max-width: 800px;
// }