<div class="mx-auto container col-10 col-md-6">
  <form>
    <h1>C2C<span>GO</span></h1>
    <p>Hoşgeldiniz! Hesabınıza giriş yapın.</p>
    <div class="mb-3">
      <label for="name" class="mb-2">Kullanıcı adı</label>
      <input type="text" class="form-control" name="name" id="name" required [(ngModel)]="username" [ngStyle]="{'border-color': !username && 'red'}"/>
    </div>
    <div class="mb-3">
      <label for="password" class="mb-2">Parola</label>
      <input type="text" maxlength="16" minlength="8" class="form-control" name="password" id="password" [(ngModel)]="password" required placeholder="********"/>
    </div>
    <div class="mb-3 d-flex gap-2">
        <input type="checkbox" id="check">
        <label for="check">Beni hatırla</label>
    </div>
    <button type="submit" class="btn bg-primary" (click)="setStorage(username)" (click)="goHome()">Oturum aç</button>
   <div>
    <a href="">Şifreni mi unuttun?</a>
    <p class="mt-2">Kullanıcı değil misiniz? <a href="">Paketleri İncele</a></p>
   </div>
   <!-- {{myItem}} -->
  </form>
</div>
