.satici{
    a{
        color: #333;
        text-decoration: none;
        &:hover{
            // font-weight: 500;
            // color: red;
            text-decoration: underline;
        }
    }
    li{
        // color: rgba(255,255,255,0.3);
        list-style: none;
    }

   .genel, .home{
    color: #0000ff80;
    cursor: pointer;
    &:hover, .genel .home{
        color: #0000ff;
    }
   
}
.iletiler, .satış, .kullanıcılar, .katalog, .pazarlama, .ayarlar{
    span{pointer-events: all;
        cursor: pointer;}
        &:hover{ font-weight: 400;}
    pointer-events: none;
    div{
        visibility: hidden;
        position: absolute;
    }
    &:hover div{
        visibility: visible;
        pointer-events: all;
    }
} 
}

.title{
    font-weight:bold;
}
.false{
    display: none;
}
.true{
    display: block;
}


